/database/dump
/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
/.idea
/.vagrant
/_ide_helper.php
/.phpstorm.meta.php
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
/laravel-echo-server.lock
